GROQ_API_KEY=
GEMINI_API_KEY=

# Modelos
GROQ_LLM_MODEL=llama-3.3-70b-versatile
GROQ_STT_MODEL=whisper-large-v3

# Rutas locales
CHROMA_PERSIST_DIR=./data/chroma
VAULT_DIR=./vault
DATASET_DIR=./dataset

# Servidor
APP_HOST=0.0.0.0
APP_PORT=8000
